@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;400;900&family=Noto+Kufi+Arabic:wght@100;600&family=Vazirmatn:wght@100;500;900&display=swap');

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */
/* 
font-family: 'Alexandria', sans-serif;
font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Vazirmatn', sans-serif;
*/
@media screen and (max-width:767px) {
	body {
		background-image: url(../bookden/main-img/portrait-back.png);
		background-size: cover;
		transition: all .3s ease-in-out;
	}

	.logo {
		width: 5.5rem;
		height: 5.5rem;
		margin: 0 1rem;
	}

	.container {
		display: flex;
		justify-content: center;
	}

	.head-name {
		margin: 1.7rem 0.3rem 1.7rem 1.7rem;
		font-size: 1rem;
		font-family: 'Alexandria', sans-serif !important;
	}

	.sub-name {
		font-family: 'Vazirmatn', sans-serif !important;
		margin: -3rem 5rem 0 0;
		display: flex;
		justify-content: center;
	}

	.back2 {
		margin: 1rem 0;
		width: 100%;
		opacity: 60%;
		border-radius: 1rem;
	}

	.back {
		display: none;
	}

	.sub-head {
		position: relative;
		display: inline-block;
	}

	.sub-head-name {
		text-align: center;
		position: absolute;
		top: 35%;
		left: 35%;
		transform: translate(-50%, -50%);
		color: rgb(0, 0, 0);
		font-weight: 600;
		font-size: 1.6rem;
		opacity: 100%;
		font-family: "Vazirmatn", sans-serif !important;
		text-shadow: 2px 5px 4px rgba(255, 255, 255, 0.5);
	}

	.boxes {
		display: inline-block;
		margin: 2% 2% 1% 0;
	}

	.box {
		width: 10rem;
		height: 10rem;
		display: inline-block;
		margin: 1%;
		transition: all 0.45s ease-in-out;
		text-align: center;
		vertical-align: middle;
		border-radius: 5%;
	}

	.box a {
		display: flex;
		justify-content: center;
		padding: 35%;
		font-family: "Noto Kufi Arabic", sans-serif !important;
		font-size: 1.5rem;
		font-weight: 700;
	}

	.box:hover {
		background-color: rgb(0, 255, 30);
		color: rgb(153, 0, 255);
	}

	.green {
		background-color: rgb(12, 159, 98);
	}

	.yellow {
		background-color: yellow;
	}

	.Alexandria {
		font-family: "Alexandria", sans-serif;
		line-height: 150%;
	}

	.Noto {
		font-family: "Noto Kufi Arabic", sans-serif;
	}

	.Vazirmatn {
		font-family: "Vazirmatn", sans-serif;
		margin: 0.2rem;
	}

	.link {
		color: black;
		text-decoration: none;
		margin: 0.2rem;
	}

	.news {
		width: 90%;
		height: auto;
		display: inline-block;
		margin: 10% 5%;
		transition: all 0.3s ease-in-out;
		text-align: center;
		vertical-align: middle;
		border-radius: 1rem;
		background: linear-gradient(to bottom right, rgb(96, 203, 103) 5.2%, rgb(251, 251, 70) 95.9%);
		;
	}

	.news p {
		text-align: center;
		color: rgb(0, 0, 0);
		font-weight: 600;
		margin: 0.5rem 0;
		font-size: 1.5rem;
		opacity: 100%;
		font-family: "Noto Kufi Arabic", sans-serif !important;
		text-shadow: 2px 5px 4px rgba(0.2, 0.2, 0.2, 0.2);
	}

	.book {
		background-image: url(../bookden/main-img/portrait-back.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 1rem;
		width: auto;
		justify-content: center;
		border-radius: 1.5rem;
		margin: 1.5rem;
	}

	.img {
		display: flex;
		justify-content: center;
		border-radius: 1.5rem;
		margin-bottom: 1.5rem;
		width: 14rem;
	}

	.footer {
		direction: ltr;
		width: 100%;
		height: 20%;
		background: linear-gradient(to right, yellow, rgb(12, 159, 98));
		border-radius: 2%;
	}

	.left-footer {
		margin: 15% 5%;
		line-height: 1.5rem;
	}

	.left-footer h3,
	a {
		margin: 5% 0 5% 0;
		text-align: center;
		font-size: 1rem;
		font-weight: 600;
		justify-content: center;
		display: flex;
		direction: rtl;
	}

	.intro {
		width: 60%;
		margin: 1rem;
	}

	.intro p {
		direction: rtl;
		text-align: center;
	}

	.blink {
		animation: blinker 1s linear infinite;
	}

	@keyframes blinker {
		50% {
			color: red;
			opacity: 0;
		}
	}

	#scrollToTopBtn {
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		width: 3.5rem;
		height: 3.5rem;
		border: none;
		background-color: #029c38;
		color: #ddff00;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}

	#scrollToTopBtn.show {
		opacity: 1;
		visibility: visible;
	}

	#scrollToTopBtn i {
		display: block;
		font-size: 1rem;
		line-height: 1rem;
		text-align: center;
	}

	.spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		margin: 1rem 60% 0 0;
	}

	.spinner span {
		position: absolute;
		top: 50%;
		left: var(--left);
		width: 35px;
		height: 7px;
		background: #eeff00;
		animation: dominos 1s ease infinite;
		box-shadow: -2px 2px 3px 0px green;
	}

	.spinner span:nth-child(1) {
		--left: 4rem;
		animation-delay: 0.500s;
	}

	.spinner span:nth-child(2) {
		--left: 3.5rem;
		animation-delay: 0.4s;
	}

	.spinner span:nth-child(3) {
		left: 3rem;
		animation-delay: 0.500s;
	}

	.spinner span:nth-child(4) {
		animation-delay: 0.60s;
		left: 2.5rem;
	}

	.spinner span:nth-child(5) {
		animation-delay: 0.665s;
		left: 2rem;
	}

	.spinner span:nth-child(6) {
		animation-delay: 0.79s;
		left: 1.5rem;
	}

	.spinner span:nth-child(7) {
		animation-delay: 0.915s;
		left: 1rem;
	}

	.spinner span:nth-child(8) {
		left: 0.5rem;
	}

	@keyframes dominos {
		50% {
			opacity: 0.7;
		}

		75% {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		80% {
			opacity: 1;
		}
	}

}

@media screen and (min-width:768px) and (max-width:1023px) {
	body {
		background-image: url(../bookden/main-img/bookden-1.png);
		background-size: cover;
	}

	.logo {
		width: 10rem;
		height: 10rem;
		margin: 0 1rem;
		opacity: 80%;
	}

	.logo:hover {
		opacity: 100%;
		transition: all .05s ease-in-out;
	}

	.container {
		display: flex;
	}

	.head-name {
		margin: 5% 5% 0 2%;
		transition: all 0.4s ease-in-out;
		height: auto;
		width: auto;
		font-size: 2.5rem;
		font-family: 'Alexandria', sans-serif !important;
	}

	.sub-name {
		display: none;
	}

	.back2 {
		display: none;
	}

	.back {
		margin: 1rem;
		width: 50%;
		opacity: 100%;
		border-radius: 3rem;
	}

	.sub-head {
		justify-content: center;
		position: relative;
		display: flex;
	}

	.sub-head-name {
		text-align: center;
		color: black;
		font-weight: 600;
		font-size: 2.5rem;
		opacity: 100%;
		margin: 5rem 2rem;
		font-family: "Vazirmatn", sans-serif !important;
		line-height: 3rem;
		text-shadow: 2px 2px 2px rgb(148, 148, 148);
	}

	.blink {
		animation: blinker 1s linear infinite;
	}

	@keyframes blinker {
		50% {
			color: red;
			opacity: 0;
		}
	}

	#scrollToTopBtn {
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		width: 6rem;
		height: 6rem;
		border: none;
		background-color: #029c38;
		color: #ddff00;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}

	#scrollToTopBtn.show {
		opacity: 1;
		visibility: visible;
	}

	#scrollToTopBtn i {
		display: block;
		font-size: 1.6rem;
		line-height: 2.2rem;
		text-align: center;
	}

	.spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		margin: -10% 50% 0 0;
	}

	.spinner span {
		position: absolute;
		top: 50%;
		left: var(--left);
		width: 35px;
		height: 7px;
		background: #eeff00;
		animation: dominos 1s ease infinite;
		box-shadow: -2px 2px 3px 0px green;
	}

	.spinner span:nth-child(1) {
		--left: 4rem;
		animation-delay: 0.500s;
	}

	.spinner span:nth-child(2) {
		--left: 3.5rem;
		animation-delay: 0.4s;
	}

	.spinner span:nth-child(3) {
		left: 3rem;
		animation-delay: 0.500s;
	}

	.spinner span:nth-child(4) {
		animation-delay: 0.60s;
		left: 2.5rem;
	}

	.spinner span:nth-child(5) {
		animation-delay: 0.665s;
		left: 2rem;
	}

	.spinner span:nth-child(6) {
		animation-delay: 0.79s;
		left: 1.5rem;
	}

	.spinner span:nth-child(7) {
		animation-delay: 0.915s;
		left: 1rem;
	}

	.spinner span:nth-child(8) {
		left: 0.5rem;
	}

	@keyframes dominos {
		50% {
			opacity: 0.7;
		}

		75% {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		80% {
			opacity: 1;
		}
	}

	.boxes {
		margin: 2% 2% 1% 0;
	}

	.box {
		width: 10rem;
		height: 10rem;
		display: inline-block;
		margin: 1%;
		transition: all 0.4s ease-in-out;
		text-align: center;
		vertical-align: middle;
		border-radius: 6%;
	}

	.box a {
		display: flex;
		justify-content: center;
		padding: 40%;
		padding-bottom: 30%;
		font-family: "Noto Kufi Arabic", sans-serif !important;
		font-size: 1.8rem;
		font-weight: 700;
	}

	.box:hover,
	.box a:hover {
		background-color: rgb(0, 0, 0);
		color: yellow;
		transition: all .5s ease-in-out;
	}

	.green {
		background-color: rgb(14, 173, 107);
	}

	.yellow {
		background-color: yellow;
	}

	.Alexandria {
		font-family: "Alexandria", sans-serif;
		line-height: 150%;
	}

	.Noto {
		font-family: "Noto Kufi Arabic", sans-serif;
	}

	.Vazirmatn {
		font-family: "Vazirmatn", sans-serif;
		margin: 0.2rem;
	}

	.link {
		color: black;
		text-decoration: none;
		margin: 0.2rem;
	}

	.news {
		width: 90%;
		height: auto;
		display: inline-block;
		margin: 10% 5%;
		transition: all 0.3s ease-in-out;
		text-align: center;
		vertical-align: middle;
		border-radius: 1.5rem;
		background: linear-gradient(to bottom right, rgb(96, 203, 103) 5.2%, rgb(251, 251, 70) 95.9%);
	}

	.news p {
		text-align: center;
		color: rgb(0, 0, 0);
		font-weight: 600;
		margin: 1rem;
		font-size: 2rem;
		opacity: 100%;
		font-family: "Noto Kufi Arabic", sans-serif !important;
		text-shadow: 2px 5px 4px rgba(0.2, 0.2, 0.2, 0.2);
	}

	.book {
		background-image: url(../bookden/main-img/portrait-back.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0.3rem;
		width: auto;
		justify-content: center;
		border-radius: 2rem;
		margin: 1.5rem;
	}

	.img {
		display: flex;
		justify-content: center;
		border-radius: 1.5rem;
		margin-bottom: 1rem;
		width: 15rem;
	}

	.footer {
		direction: ltr;
		width: 100%;
		height: 8%;
		background: linear-gradient(to right, yellow, rgb(12, 159, 98));
		border-radius: 2%;
	}

	.left-footer {
		margin: 15% 5%;
	}

	.left-footer h3,
	a {
		margin: 5% 0 5% 0;
		text-align: center;
		font-size: 2rem;
		font-weight: 600;
		justify-content: center;
		display: flex;
		direction: rtl;
		line-height: 2.5rem;
	}

	.intro {
		width: 70%;
		margin: 10% 2rem;
	}

	.intro p {
		direction: rtl;
		text-align: center;
		font-size: 1.5rem;
	}
}

@media screen and (min-width:1024px) {
	body {
		background-image: url(../bookden/main-img/bookden-1.png);
		background-size: cover;
	}

	.logo {
		width: 10rem;
		height: 10rem;
		margin: -3rem 1rem 0 1rem;
		opacity: 80%;
	}

	.logo:hover {
		opacity: 100%;
		transition: all .1s ease-in-out;
	}

	.container {
		display: flex;
	}

	.head-name {
		margin: 5% 5% 2% 2%;
		transition: all 0.4s ease-in-out;
		height: auto;
		width: auto;
		text-align: center;
		font-size: 2.2rem;
		font-family: 'Alexandria', sans-serif !important;
	}

	.sub-name {
		display: none;
	}

	.back2 {
		display: none;
	}

	.back {
		margin: 1rem 3rem 1.5rem 2rem;
		width: 30%;
		border-radius: 3rem;
	}

	.sub-head {
		display: flex;
	}

	.sub-head-name {
		text-align: center;
		color: black;
		font-weight: 600;
		font-size: 3rem;
		opacity: 100%;
		margin: 5rem 1rem;
		font-family: "Vazirmatn", sans-serif !important;
		line-height: 2rem;
		text-shadow: 2px 2px 2px rgb(148, 148, 148);
	}

	.blink {
		animation: blinker 1s linear infinite;
	}

	@keyframes blinker {
		50% {
			color: red;
			opacity: 0;
		}
	}

	#scrollToTopBtn {
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		width: 3.5rem;
		height: 3.5rem;
		border: none;
		background-color: #029c38;
		color: #ddff00;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}

	#scrollToTopBtn.show {
		opacity: 1;
		visibility: visible;
	}

	#scrollToTopBtn i {
		display: block;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
	}

	.spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		margin: -10% 50% 0 0;
	}

	.spinner span {
		position: absolute;
		top: 50%;
		left: var(--left);
		width: 35px;
		height: 7px;
		background: #eeff00;
		animation: dominos 1s ease infinite;
		box-shadow: -2px 2px 3px 0px green;
	}

	.spinner span:nth-child(1) {
		--left: 4rem;
		animation-delay: 0.500s;
	}

	.spinner span:nth-child(2) {
		--left: 3.5rem;
		animation-delay: 0.4s;
	}

	.spinner span:nth-child(3) {
		left: 3rem;
		animation-delay: 0.500s;
	}

	.spinner span:nth-child(4) {
		animation-delay: 0.60s;
		left: 2.5rem;
	}

	.spinner span:nth-child(5) {
		animation-delay: 0.665s;
		left: 2rem;
	}

	.spinner span:nth-child(6) {
		animation-delay: 0.79s;
		left: 1.5rem;
	}

	.spinner span:nth-child(7) {
		animation-delay: 0.915s;
		left: 1rem;
	}

	.spinner span:nth-child(8) {
		left: 0.5rem;
	}

	@keyframes dominos {
		50% {
			opacity: 0.7;
		}

		75% {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		80% {
			opacity: 1;
		}
	}

	.boxes {
		margin: 2% 2% 0 1%;
	}

	.box {
		width: 16rem;
		height: 16rem;
		display: inline-block;
		justify-content: center;
		margin: 1%;
		transition: all 0.4s ease-in-out;
		text-align: center;
		vertical-align: middle;
		border-radius: 10%;
	}

	.box a {
		display: flex;
		justify-content: center;
		padding: 40%;
		padding-bottom: 47%;
		font-family: "Noto Kufi Arabic", sans-serif !important;
		font-size: 2rem;
		border-radius: 10%;
		font-weight: 700;
	}

	.box:hover,
	.box a:hover {
		background-color: #000;
		color: yellow;
		transition: all .5s ease-in-out;
	}

	.green {
		background-color: rgb(14, 173, 107);
	}

	.yellow {
		background-color: yellow;
	}

	.Alexandria {
		font-family: "Alexandria", sans-serif;
		line-height: 150%;
	}

	.Noto {
		font-family: "Noto Kufi Arabic", sans-serif;
	}

	.Vazirmatn {
		font-family: "Vazirmatn", sans-serif;
		margin: 0.2rem;
	}

	.link {
		color: black;
		text-decoration: none;
		margin: 0.2rem;
	}

	.news {
		width: 90%;
		height: auto;
		display: inline-block;
		margin: 8% 5%;
		transition: all 0.3s ease-in-out;
		text-align: center;
		vertical-align: middle;
		border-radius: 1.5rem;
		background: linear-gradient(to bottom right, rgb(96, 203, 103) 5.2%, rgb(251, 251, 70) 95.9%);
	}

	.news p {
		text-align: center;
		color: rgb(0, 0, 0);
		font-weight: 600;
		margin: 1rem;
		font-size: 1.5rem;
		opacity: 100%;
		font-family: "Noto Kufi Arabic", sans-serif !important;
		text-shadow: 2px 5px 4px rgba(0.2, 0.2, 0.2, 0.2);
	}

	.book {
		background-image: url(../bookden/main-img/portrait-back.png);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 1.8rem;
		width: auto;
		display: inline-block;
		justify-content: center;
		border-radius: 2rem;
		margin: 1.5rem;
	}

	.img {
		display: flex;
		justify-content: center;
		border-radius: 1.5rem;
		margin-bottom: 1rem;
		width: 15rem;
	}

	.footer {
		direction: ltr;
		width: 100%;
		background: linear-gradient(to right, yellow, rgb(12, 159, 98));
		border-radius: 2%;
	}

	.left-footer {
		margin: 5% 5%;
		line-height: 1.5rem;
	}

	.left-footer h3,
	a {
		margin: 5% 0 5% 0;
		text-align: center;
		font-size: 1rem;
		font-weight: 600;
		justify-content: center;
		display: flex;
		direction: rtl;
	}

	.intro {
		width: 70%;
		margin: 5% 1rem;
	}

	.intro p {
		direction: rtl;
		text-align: center;
		font-size: 1.2rem;
	}

	::-moz-selection {
		/* Code for Firefox */
		background-color: yellow;
	}

	::selection {
		background-color: yellow;
	}
}