@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;400;900&family=Noto+Kufi+Arabic:wght@100;600&family=Vazirmatn:wght@100;500;900&display=swap');

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End Reset */
/* 
font-family: 'Alexandria', sans-serif;
font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Vazirmatn', sans-serif;
*/
@media screen and (max-width:767px) {
    body {
        background-image: url(../main-img/portrait-back.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        width: 5rem;
        height: 5rem;
        margin: 0 1rem;
    }

    .head-name {
        margin: 1.7rem 0.3rem 1.7rem 1.7rem;
        font-size: 1rem;
        font-family: 'Alexandria', sans-serif !important;
    }

    .sub-name {
        font-family: 'Vazirmatn', sans-serif !important;
        margin: -1rem 5rem 0 0;
        display: flex;
        justify-content: center;
    }

    .sub-head {
        position: relative;
        display: inline-block;
    }

    .sub-head-name {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 1.5rem;
        opacity: 100%;
        font-family: "Noto Kufi Arabic", sans-serif !important;
        text-shadow: 2px 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .Alexandria {
        font-family: "Alexandria", sans-serif;
        line-height: 150%;
    }

    .Noto {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .Vazirmatn {
        font-family: "Vazirmatn", sans-serif;
        margin: 0.2rem;
    }

    .link {
        color: black;
        text-decoration: none;
        margin: 0.2rem;
    }

    .blink {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            color: red;
            opacity: 0;
        }
    }


    .home {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2.5rem;
        font-weight: 900;
    }

    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 0.5rem 0.2rem 0.5rem;
        font-size: 1.5rem;
    }

    .author {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        color: green;
    }

    .book-img {
        display: flex;
        justify-content: center;
        width: 60%;
        border-radius: 1.5rem;
        margin: 1.5rem;
    }

    .download-box {
        margin: 1rem;
        display: block;
        justify-content: center;
        width: 18rem;
        height: auto;
        border-radius: 1.5rem;
        background: linear-gradient(to top, rgb(1, 226, 1), yellow);
    }

    .down {
        text-align: center;
        font-size: 1rem;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        margin: 1rem 0;
    }

    .descript {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2rem;
        border: 5px solid #00ff99;
        border-radius: 1rem;
        padding: 1rem;
        background-image: url(../main-img/portrait-back.png);
        background-repeat: no-repeat;
    }

    #scrollToTopBtn {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        border: none;
        background-color: green;
        color: #eeff00;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    #scrollToTopBtn.show {
        opacity: 1;
        visibility: visible;
    }

    #scrollToTopBtn i {
        display: block;
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
    }

    .ratings-wrapper {
        display: flex;
        margin: 1rem;
        justify-content: center;
    }

    .ratings {
        display: flex;
    }

    .ratings span {
        cursor: pointer;
        transition: color .2s;
        font-size: 3rem;
    }

    .ratings span:hover {
        color: orange;
    }

    .ratings span:hover~span {
        color: orange;
    }

    .ratings span[data-clicked] {
        color: orange;
    }

    .ratings span[data-clicked]~span {
        color: orange;
    }

    #average-rating {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    body {
        background-image: url(../main-img/portrait-back.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        width: 6rem;
        height: 6rem;
        margin: 0 1rem;
    }

    .head-name {
        margin: 1.7rem 0.3rem 1.7rem 1.7rem;
        font-size: 1rem;
        font-family: 'Alexandria', sans-serif !important;
    }

    .sub-name {
        font-family: 'Vazirmatn', sans-serif !important;
        margin: -2rem 5.5rem 0 0;
        display: flex;
        justify-content: center;
    }

    .sub-head {
        position: relative;
        display: inline-block;
    }

    .sub-head-name {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 1.5rem;
        opacity: 100%;
        font-family: "Noto Kufi Arabic", sans-serif !important;
        text-shadow: 2px 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .Alexandria {
        font-family: "Alexandria", sans-serif;
        line-height: 150%;
    }

    .Noto {
        font-family: "Noto Kufi Arabic", sans-serif;
    }

    .Vazirmatn {
        font-family: "Vazirmatn", sans-serif;
        margin: 0.2rem;
    }

    .link {
        color: black;
        text-decoration: none;
        margin: 0.2rem;
    }

    .blink {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            color: red;
            opacity: 0;
        }
    }


    .home {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2.5rem;
        font-weight: 900;
        font-size: 2rem;
    }

    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 0.5rem 0.2rem 0.5rem;
        font-size: 3rem;
    }

    .author {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        color: green;
    }

    .book-img {
        display: flex;
        justify-content: center;
        width: 60%;
        border-radius: 1.5rem;
        margin: 2rem;
    }

    .abstract {
        font-size: 2rem;
    }

    .download-box {
        margin: 1rem;
        display: block;
        justify-content: center;
        width: 20rem;
        height: auto;
        border-radius: 1.5rem;
        background: linear-gradient(to top, rgb(1, 226, 1), yellow);
    }

    .down {
        text-align: center;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        margin: 1rem 0;
    }

    .descript {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2rem;
        border: 5px solid #00ff99;
        border-radius: 1rem;
        padding: 1rem;
        background-image: url(../main-img/portrait-back.png);
        background-repeat: no-repeat;
    }

    #scrollToTopBtn {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        width: 6.5rem;
        height: 6.5rem;
        border: none;
        background-color: green;
        color: #eeff00;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    #scrollToTopBtn.show {
        opacity: 1;
        visibility: visible;
    }

    #scrollToTopBtn i {
        display: block;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: center;
    }

    .ratings-wrapper {
        display: flex;
        margin: 1rem;
        justify-content: center;
    }

    .ratings {
        display: flex;
    }

    .ratings span {
        cursor: pointer;
        transition: color .2s;
        font-size: 3rem;
    }

    .ratings span:hover {
        color: orange;
    }

    .ratings span:hover~span {
        color: orange;
    }

    .ratings span[data-clicked] {
        color: orange;
    }

    .ratings span[data-clicked]~span {
        color: orange;
    }

    #average-rating {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }
}